$color-text: #e1eef6;
$color-link: #ff5f2e;
$color-link-hover: #fcbe32;
$black: #111111;

.screen {
  background-color: $color-text;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
  content: " ";
  overflow: hidden;

    // Fallback for old browsers
  background: #16222A;

  background: -webkit-linear-gradient(to left, #16222A , #3A6073);
  background: linear-gradient(to left, #16222A , #3A6073);

  background-size: cover;

  background-image: url(https://cldup.com/gn3s3Fg75t.gif);

   color: $color-text;
}

.screen.hidden {
  opacity: 0;
  transform: scale(0.9);
  pointer-events: none;
}

.qode_slider_preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #e1eef6;
  z-index: 1000;
}

.content_inner {
  display: none; /* Hide main content initially */
}
